.card-music{
    width: 350px;
    height: 250px;
    background: linear-gradient(45deg, #409030, #409900);
    border-radius: 20px;
}

.imagem-album{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
}

#img{
    width: 150px;
    height: 120px;
}

